In [3]:
print('helloworld')
print

helloworld

In [6]:
a=10
b=20
c=a+b

In [7]:
a=10
b=20
c=a+b
c

30

In [11]:
a={120}
type(a)

set

In [18]:
name="charan"
age=26
phone=9347905257
# email=charanguguloth@gmail.com
pancard=True
# print(name)
# print(age)
# print(pancard)
# print(phone)
print(name,age,phone,pancard)

charan
26
True
9347905257
charan 26 9347905257 True

In [24]:
n=9
res=n%3
res
# res==0
n=9
print(n%3==0)
n=16
print(n%3==0)

True
False

In [3]:
#write a statement to intilize multivarilable values are 150,120,250 (take your own variable names)
a,b,c=150,120,250
print(a,b,c)

150 120 250

In [7]:
#was to print the type of the data in given value
a={10,20}
type(a)

1788865625696

In [10]:
a=150
b=120
c=250
a
b
c

250

In [8]:
#wra to print the address of memory block in given value
id(a)
id({10,20})

1788865623904

In [17]:
#WAS to swap the two values with temp varilable
x="hai"
y="bye"
temp=x
# x=y
# y=temp
# # x="bye"
# # y="hai"

In [20]:
#was to swap the two values without temp variable
m=[10,20]
n=[10,20]
m,n=n,m
m
n

[10, 20]

In [28]:
#Was to intilize a value and print the value,after print the value,then reintilize the new value to the existing variable and displaythe value
a={'a':"pyspiders"}
a
a['a']
a['a']:'qpspiders'
a
{'a':'qspiders'}
a['a']
a=[10,20,30]
a
a+=[40,50,60]
a

[10, 20, 30, 40, 50, 60]

In [35]:
#WAS to concat the two multi value data types (str,list,set,dict)
x="hello"
x+="world"
x
y=[10,20,30]
y+=[40,50,60]
y
y=[10,20,30]
y+="hai"
y

[10, 20, 30, 'h', 'a', 'i']

In [42]:
#was to check the length of the collection
x={10:20,30:40,'a':'hai','b':'bye'}
len(x)
c="hello"
len(c)
d=[10,20,40,50,60]
d
s={10,20,30,40,50,60}
len(s)
s

{10, 20, 30, 40, 50, 60}

In [48]:
# WAE to check ,find out the middle value of the given collection
d=[10,20,40,50,60]
d[len(d)//2]
l=[10,20,30,40]
l[len(l)//2]

30

In [50]:
#was to concat the new string into the starting of the given string
a="how r u"
b="hai"
b+a
a=b+a
a

'haihow r u'

In [54]:
#WAS to modify the new character into middle of given string
s='pyspiders'
s[len(s)//2]
s[0:len(s)//2]+'L'+s[len(s)//2+1:]

'pyspLders'

In [56]:
#was statement to modify the sequence of character in given string
s='pyspiders'
s[0:3]+'PID'+s[6:]

'pysPIDers'

In [58]:
#WAS to replace the old character into a new character of the given string
s='pyspiders'
s[:5]+'D'+s[6:]
s='pyspiders'
s[:-4]+'D'+s[-3:]

'pyspiDers'

In [59]:
#was to delete the specific character in the given string
s[:2]+s[3:]

'pypiders'

In [61]:
#was to concat the new string into the specific position of this given string
r='hai are you'
r[0:4]+'how'+r[4:]
r[0:4+1]+'how'+r[4:]

'hai ahoware you'

In [62]:
#WAS to delete the sequence of charcters in the given string
s='pyspiders'
s[:3]+s[6:]

'pysers'

In [68]:
#was to concat the new value into the starting of the given list.
l=[1,2,3]
id(l)
l=['a','b']+l
print(l)
id(l)

['a', 'b', 1, 2, 3]

1788881806144

In [71]:
#Was to concat the new value into the ending of the given list
y=['hai','hello']
id(y)
y+=['how','are','you']
y
id(y)

1788881544896

In [1]:
# WAS to modify the values at specific positions in a given list by using updation.
a=[1,3,2,5,4,7,8,6,9,15]
a[2::2]=[4,16,64,81]
print(a)
#OR
b=[1,3,2,5,4,7,8,6,9,15]
b[2]=b[2]**2
b[4]=b[4]**2
b[6]=b[6]**2
b[8]=b[8]**2
print(b)

[1, 3, 4, 5, 16, 7, 64, 6, 81, 15]
[1, 3, 4, 5, 16, 7, 64, 6, 81, 15]

In [2]:
#17. WAS to concat the new string into the middle of the given string.
a='hey r u'
a=a[0:len(a)//2]+' how'+a[len(a)//2:]
print(a)

b=[1,2,3,4,5,6]
b=b[0:len(b)//2]+[10,20]+b[len(b)//2:]
print(b)

hey how r u
[1, 2, 3, 10, 20, 4, 5, 6]

In [3]:
#18. WAS to modify the new character into the middle of the given string.
a='pyspiders'
a=a[0:len(a)//2]+'l'+a[len(a)//2+1:]
print(a)

pysplders

In [ ]:
#19. WAS to modify the sequence of characters in given string.
a='pyspiders'
a=a[0:2]+'SPI'+a[5:]
print(a)

In [4]:
#29. WAS to modify the new value into the starting of the given list.
a=[1,2,3,4]
a[0]=0
print(a)

[0, 2, 3, 4]

In [5]:
#30. WAS to modify new value into the ending of the given list.
a=['a','b',True,None,100]
a[-1]=False
print(a)

['a', 'b', True, None, False]

In [6]:
#31. WAS to modify the new value into the middle of the given list.
a=[1,2,'a',5,6]
a[len(a)//2]=[3,4]
print(a)

[1, 2, [3, 4], 5, 6]

In [7]:
#32. WAS to modify the first 4 position values into the given list.
a=[1,2,3,4,'e','f']
a[0:4]=['a','b','c','d']
print(a)

['a', 'b', 'c', 'd', 'e', 'f']

In [8]:
#33. WAS to modify the sequence of values into a given list.
a=[1,2,3,4,5,6,7,8]
a[1::2]=['a','b','c','d']
print(a)

[1, 'a', 3, 'b', 5, 'c', 7, 'd']

In [9]:
#34. WAS to delete the values in the specific position of the given list.
a=[1, 'a', 3, 'b', 5, 'c', 7, 'd']
del a[1]
del a[3]
print(a)

[1, 3, 'b', 'c', 7, 'd']

In [10]:
#34. WAS to modify the values at specific positions in a given list by using updation.
a=[1,3,2,5,4,7,8,6,9,15]
a[2::2]=[4,16,64,81]
print(a)
#OR
b=[1,3,2,5,4,7,8,6,9,15]
b[2]=b[2]**2
b[4]=b[4]**2
b[6]=b[6]**2
b[8]=b[8]**2
print(b)

[1, 3, 4, 5, 16, 7, 64, 6, 81, 15]
[1, 3, 4, 5, 16, 7, 64, 6, 81, 15]

In [11]:
#35. WAS to delete the new value into the ending of list.
a=[1,2,3,4,5]
del a[-1]
print(a)

[1, 2, 3, 4]

In [12]:
#36. WAS to delete the new value into the starting of list.
a=[1,2,3,4,5]
del a[0]
print(a)

[2, 3, 4, 5]

In [1]:
#37. WAS to delete the values into the middle of list.
a=[1,2,3,4,5]
del a[len(a)//2]
print(a)

[1, 2, 4, 5]

In [2]:
#38. WAS to concat the new value into starting of tuple.
a=(1,2,3,4,5,6)
a=('a','b')+a
print(a)

('a', 'b', 1, 2, 3, 4, 5, 6)

In [3]:
#39. WAS to concat the new value into middle of tuple.
a=(1,2,3,4,5,6)
a=a[0:len(a)//2]+('a','b')+a[len(a)//2:]
print(a)

(1, 2, 3, 'a', 'b', 4, 5, 6)

In [4]:
#40. WAS to concat the new value into ending of tuple.
a=(1,2,3,4,5,6)
a+=(7,8)
print(a)

(1, 2, 3, 4, 5, 6, 7, 8)

In [5]:
#41. WAS to modify the sequence of values in given tuple.
a=(1,2,3,4,5,6)
a=a[0:2]+('a','b')+a[4:]
print(a)

(1, 2, 'a', 'b', 5, 6)

In [6]:
#42. WAS to delete the sequence of values in given tuple.
a=(1,2,3,4,5,6)
a=a[0:2]+a[4:]
print(a)

(1, 2, 5, 6)

In [7]:
#43. WAS to concat the new value into the set.
a={1,2,3,4,5,6}
a|={10,20,'A'}
print(a)

{1, 2, 3, 4, 5, 6, 10, 'A', 20}

In [8]:
#44. WAS to delete the specific value into the set.
a={1,2,3,4,5,6}
a=a-{4,5,6}
print(a)
#OR
a={1,2,3,4,5,6}
a-={4,5,6}
print(a)

{1, 2, 3}
{1, 2, 3}

In [70]:
#45. WAS to concat the new key and value into the given dict.
s={'name':'charan','age':22}
s['place']='hyd'
print(s)
#OR
s={'name':'charan','age':22}
t={'place':'hyd'}
s|=t
print(s)

{'name': 'charan', 'age': 22, 'place': 'hyd'}
{'name': 'charan', 'age': 22, 'place': 'hyd'}

In [71]:
#46. WAS to delete the specific key and value in the given dict.
a={'name': 'charan', 'age': 22, 'place': 'hyd'}
del a['age']
print(a)

{'name': 'charan', 'place': 'hyd'}

In [72]:
#47. WAS to modify the specific value in the given dict.
a={'name': 'charan', 'age': 22, 'place': 'hyd'}
a['name']='charan kumar'
print(a)
#OR
a={'name': 'charan', 'age': 22, 'place': 'hyd'}
a|={'name':'charan kumar'}
print(a)

{'name': 'charan kumar', 'age': 22, 'place': 'hyd'}
{'name': 'charan kumar', 'age': 22, 'place': 'hyd'}

In [12]:
#48. WAS to concat the list value and tuple value by using Type casting.
#Converting LIST to TUPLE
l=['a','b','c']
t=('d','e','f')
l=l+list(t)
print(l)
#Converting TUPLE to LIST
l=['a','b','c']
t=('d','e','f')
t=tuple(l)+t
print(t)

['a', 'b', 'c', 'd', 'e', 'f']
('a', 'b', 'c', 'd', 'e', 'f')

In [13]:
#49. WAS to concat the list and tuple value without using Type casting.
l=['a','b','c']
t=('d','e','f')
l+=t
print(l)

['a', 'b', 'c', 'd', 'e', 'f']

In [14]:
#50. WAS to check given number is divisible by 3.
a=27
print(a%3==0)

True

In [15]:
#51. WAS to check the given number is divisble by 2 and 6.
a=24
print(a%2==0 and a%6==0)

True

In [16]:
#52. (A) WAS to extract the last digit in the given integer number(without Type casting)
a=126
print(a%10)
# (B) Extract last two digits
a=126
print(a%100)

6
26

In [17]:
#53. WAS to check the last digit is divisble by 3 from given integer number.(without type casting)
a=126
print((a%10)%3==0)

True

In [21]:
#54. WAS to check the last digit is divisible by 3 from given number(without Type casting)
a=126
print(int(str(a)[-1])%3==0)

True

In [20]:
#55. WAS to check the given number is greater than 150.
a=165
print(a>150)
#OR
a=165
['False','True'][a>150]

True

'True'

In [19]:
#56. WAS to check the given number is greater than or equal to 100.
a=165
print(a>=100)
#OR
a=165
['False','True'][a>=100]

True

'True'

In [18]:
#57. WAS to check the given number is less than 150,print the result.
a=100
print(a<150)

True

In [23]:
#58. WAS to check the given number is less than or equal to 100.
a=100
print(a<=100)

True

In [27]:
#59. WAS to check the given number is greater than 15 and less than 24.
a=20
print(a>15 and a<24)

True

In [26]:
#60.WAS to check the given number is EVEN.
a=200
print(a%2==0)

True

In [24]:
#61. WAS to check the given number is ODD.
a=201
print(a%2!=0)

True

In [25]:
#62. Write An Equation(WAE) to check perform the replication of a given string with 6.
a='abc'
a=a*6
print(a)
b=[1,2,3]
b=b*6
print(b)

abcabcabcabcabcabc
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [28]:
#63. WAE to check the given number is divisible by 3 and also the number is greater than 22.
a=27
print(a%3==0 and a>22)

True

In [29]:
#64. WAE to check perform the length of the collection is EVEN or ODD.
a='pyspiders'
print(len(a)%2==0)

False

In [30]:
#65. WAE to check perform the length of the collection less than 55 and greater than 16.
a='abcdefghijklmnopqrstuvwxyz'
print(len(a)<55 and len(a)>16)
#OR
a='abcdefghijklmnopqrstuvwxyz'
16<len(a)<55

True

True

In [31]:
#66. WAE to check perform the length of the collection is divisible by 5 and odd.
a='abcdefghijklmnopqrstuvwxyz'
print(len(a)%5==0 and len(a)%2!=0)

False

In [32]:
#67. WAE to check extract the middle position of a given collection is either str,list,tuple.
s=[10,('a','b'),[10,20]]
res=type(s[len(s)//2])
print(res in [str,list,tuple])

True

In [33]:
#68. WAE to check the given number is greater than 20 and less than 30 and it should be even.
a=26
print(20<a<30 and a%2==0)

True

In [34]:
#69. WAE to  check the given number is even and it should be less than 120.
a=100
print(a<120 and a%2==0)

True

In [35]:
#70. WAE to check the given number is even and present from 40 to 70.
a=60
print(a%2==0 and 40<a<70)

True

In [36]:
#71. WAE to check the given number is odd and should be greater than 97.
a=99
print(a%2!=0 and a>97)

True

In [37]:
#72. WAE to check the given number is less than 122 and greater than 48 and the number should be divisible by 4.
a=60
print(48<a<122 and a%4==0)

True

In [38]:
#73. WAE to check the given number is divisible by 3 or 5,displaying the value.
a=15
print(a%3==0 or a%5==0)

True

In [39]:
#74. WAE to check the given number is between 100 to 200 including the limit.
a=150
print(100<=a<=200)

True

In [40]:
#75. WAE to check the given number is in between 100 to 200.
a=199
print(100<a<200)

True

In [41]:
#76. WAE to check the given string last character ASCII value should be divisible by 5 or not.
a='apple'
print(ord(a[-1])%5==0)

False

In [42]:
#77. (A) WAE to check the given number is present 60 and 130 and the number should be divisible by 3 and 4 and the last digit should be greater than 9.
a=120
print(60<=a<=130 and a%3==0 and a%4==0 and a%10>9 ) 
#(B) WAE to check the given number is present 60 and 130 and the number should be divisible by 3 and 4 and the last digit should be less than 9.
a=120
print(60<=a<=130 and a%3==0 and a%4==0 and a%10<9 )

False
True

In [43]:
#78. WAE to check the given number is Even or less than 25.
a=18
print(a%2==0 or a<25)

True

In [44]:
#79. WAE to check the given number is Even or greater than 25.
a=18
print(a%2==0 or a>25)

True

In [45]:
#80. WAE to check the given number is divisible by 3 or 5.
a=27
print(a%3==0 or a%5==0)

True

In [47]:
#81. WAE to check the given number is not an Even Number.
a=25
print((a)%2!=0)

True

In [48]:
#82. WAE to check the given number is not an odd Number.
a=26
print((a)%2==0)

True

In [49]:
#83. WAE to check the given number is not divisible by 3.
a=25
print((a)%3!=0)

True

In [50]:
#84. WAE to check the given number is not divisible by 3 and 5.
a=26
print(a%3!=0 and a%5!=0)

True

In [51]:
#85. WAE to check the given number is not divisible by 3 or 5.
a=26
print(a%3!=0 or a%5!=0)

True

In [52]:
#86. WAE to check the given character ASCII value is not divisible by 5.
a='h'
print(ord(a))
print(ord(a)%5!=0)

104
True

In [53]:
#87. WAE to check find out the ASCII character in a given number.
a=88
print(chr(a))

X

In [54]:
#88. WAE to find ASCII value of a given character.
a='A'
print(ord(a))

65

In [55]:
#89. WAE to check the given character is Upper case or not.
ch='A'
print(len(ch)==1 and 'A'<=ch<='Z')
#OR
ch='A'
print(len(ch)==1 and 65<=ord(ch)<=90)

True
True

In [57]:
#90. WAE to check the given character is a lower case or not.
ch='a'
print(len(ch)==1 and 'a'<=ch<='z')
#OR
ch='c'
print(len(ch)==1 and 97<=ord(ch)<=122)

True
True

In [61]:
#91. WAE to check the given character is a alphabet or not.
ch='U'
print( len(ch)==1 and 'A'<=ch<='Z' or 'a'<=ch<='z')

True

In [60]:
#92. WAE to check the given character is the ASCII Number.
ch='5'
print(len(ch)==1 and '0'<=ch<='9')

True

In [59]:
#93. WAE to check the given character is special character or not.
a='@'
print('A'<=a<='Z' or 'a'<=a<='z' or '0'<=a<='9')

False

In [62]:
#94. WAE to check the given character should not be Upper case.
a='A'
print(not('A'<=a<='Z'))
ch='a'
print(not('A'<=ch<='Z' ))

False
True

In [63]:
#95. WAE to check the given character should not be lower case.
a='A'
print(not('a'<=a<='z'))
ch='a'
print(not('a'<=ch<='z'))

True
False

In [64]:
#96. WAE to check the given character should not be alphabet.
a='0'
print(not('A'<=a<='Z' or 'a'<=a<='z'))
ch='d'
print(not('A'<=ch<='Z' or 'a'<=ch<='z'))

True
False

In [65]:
#97. WAE to check the given character should not be an ASCII Number.
a='$'
print(not(ord(a)>48 and ord(a)<58))
ch='9'
print(not(ord(ch)>= 48 and ord(ch) <= 57))

True
False

In [66]:
#98. WAE to check the given character should not be a special character.
a='*'
print('A'<=a<='Z' or 'a'<=a<='z' or '0'<=a<='9')
ch='a'
print('A'<=ch<='Z' or 'a'<=ch<='z' or '0'<=ch<='9')

False
True

In [67]:
#99. WAE to check the given character is vowel.
a='A'
print(a=='A' or a=='E' or a=='I' or a=='O' or a=='U' or a=='a' or a=='e' or a=='i' or a=='o' or a=='u')
a='t'
print(a=='A' or a=='E' or a=='I' or a=='O' or a=='U' or a=='a' or a=='e' or a=='i' or a=='o' or a=='u')
#OR
a='e'
print(a in 'AEIOUaeiou')

True
False
True

In [69]:
#100. WAE to check the given character is a consonant.
a='S'
print(not(a=='A' or a=='E' or a=='I' or a=='O' or a=='U' or a=='a' or a=='e' or a=='i' or a=='o' or a=='u'))
a='I'
print(not(a=='A' or a=='E' or a=='I' or a=='O' or a=='U' or a=='a' or a=='e' or a=='i' or a=='o' or a=='u'))
#OR
ch='H'
print(not(a=='A' or a=='E' or a=='I' or a=='O' or a=='U' or a=='a' or a=='e' or a=='i' or a=='o' or a=='u'))

True
False
False