In [3]:
print('helloworld')
print

helloworld

In [6]:
a=10
b=20
c=a+b

In [7]:
a=10
b=20
c=a+b
c

30

In [11]:
a={120}
type(a)

set

In [18]:
name="charan"
age=26
phone=9347905257
# email=charanguguloth@gmail.com
pancard=True
# print(name)
# print(age)
# print(pancard)
# print(phone)
print(name,age,phone,pancard)

charan
26
True
9347905257
charan 26 9347905257 True

In [24]:
n=9
res=n%3
res
# res==0
n=9
print(n%3==0)
n=16
print(n%3==0)

True
False

In [3]:
#write a statement to intilize multivarilable values are 150,120,250 (take your own variable names)
a,b,c=150,120,250
print(a,b,c)

150 120 250

In [7]:
#was to print the type of the data in given value
a={10,20}
type(a)

1788865625696

In [10]:
a=150
b=120
c=250
a
b
c

250

In [8]:
#wra to print the address of memory block in given value
id(a)
id({10,20})

1788865623904

In [17]:
#WAS to swap the two values with temp varilable
x="hai"
y="bye"
temp=x
# x=y
# y=temp
# # x="bye"
# # y="hai"

In [20]:
#was to swap the two values without temp variable
m=[10,20]
n=[10,20]
m,n=n,m
m
n

[10, 20]

In [28]:
#Was to intilize a value and print the value,after print the value,then reintilize the new value to the existing variable and displaythe value
a={'a':"pyspiders"}
a
a['a']
a['a']:'qpspiders'
a
{'a':'qspiders'}
a['a']
a=[10,20,30]
a
a+=[40,50,60]
a

[10, 20, 30, 40, 50, 60]

In [35]:
#WAS to concat the two multi value data types (str,list,set,dict)
x="hello"
x+="world"
x
y=[10,20,30]
y+=[40,50,60]
y
y=[10,20,30]
y+="hai"
y

[10, 20, 30, 'h', 'a', 'i']

In [42]:
#was to check the length of the collection
x={10:20,30:40,'a':'hai','b':'bye'}
len(x)
c="hello"
len(c)
d=[10,20,40,50,60]
d
s={10,20,30,40,50,60}
len(s)
s

{10, 20, 30, 40, 50, 60}

In [48]:
# WAE to check ,find out the middle value of the given collection
d=[10,20,40,50,60]
d[len(d)//2]
l=[10,20,30,40]
l[len(l)//2]

30

In [50]:
#was to concat the new string into the starting of the given string
a="how r u"
b="hai"
b+a
a=b+a
a

'haihow r u'

In [54]:
#WAS to modify the new character into middle of given string
s='pyspiders'
s[len(s)//2]
s[0:len(s)//2]+'L'+s[len(s)//2+1:]

'pyspLders'

In [56]:
#was statement to modify the sequence of character in given string
s='pyspiders'
s[0:3]+'PID'+s[6:]

'pysPIDers'

In [58]:
#WAS to replace the old character into a new character of the given string
s='pyspiders'
s[:5]+'D'+s[6:]
s='pyspiders'
s[:-4]+'D'+s[-3:]

'pyspiDers'

In [59]:
#was to delete the specific character in the given string
s[:2]+s[3:]

'pypiders'

In [61]:
#was to concat the new string into the specific position of this given string
r='hai are you'
r[0:4]+'how'+r[4:]
r[0:4+1]+'how'+r[4:]

'hai ahoware you'

In [62]:
#WAS to delete the sequence of charcters in the given string
s='pyspiders'
s[:3]+s[6:]

'pysers'

In [68]:
#was to concat the new value into the starting of the given list.
l=[1,2,3]
id(l)
l=['a','b']+l
print(l)
id(l)

['a', 'b', 1, 2, 3]

1788881806144

In [71]:
#Was to concat the new value into the ending of the given list
y=['hai','hello']
id(y)
y+=['how','are','you']
y
id(y)

1788881544896